In [120]:
# !pip install pymysql

In [121]:
import pymysql
# mysql 접속
conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='testdb', charset='utf8')

In [122]:
try:
  with conn.cursor() as cursor:
    sql = '''
    CREATE TABLE student (
        id INT PRIMARY KEY AUTO_INCREMENT,
        name VARCHAR(20) NOT NULL,
        kor INT NOT NULL,
        eng INT NOT NULL,
        math INT NOT NULL,
        reg_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
    )
    '''
    cursor.execute(sql)
    rows = cursor.fetchall()
    print(rows)
    
  conn.commit()
finally:
  conn.close()

OperationalError: (1050, "Table 'student' already exists")

In [ ]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='testdb', charset='utf8')

try:
  with conn.cursor() as cursor:
    sql = '''
        INSERT INTO student (name, kor, eng, math)
VALUES ('홍길동', 90, 80, 70),
       ('이순신', 85, 90, 95),
       ('강감찬', 70, 80, 90),
       ('유관순', 95, 85, 80),
       ('안중근', 80, 70, 75);
    '''
    cursor.execute(sql)
    rows = cursor.fetchall()
    print(rows)
    
  conn.commit()
finally:
  conn.close()

()

In [ ]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='testdb', charset='utf8')

try:
  with conn.cursor() as cursor:
    sql = '''
        select * from student;
    '''
    # 쿼리문 실행
    cursor.execute(sql)
    
    # 쿼리문을 가지고 와서
    result = cursor.fetchall()
    # 한줄씩 출력
    for row in result:
        print(row)
    
  conn.commit()
finally:
  conn.close()

(1, '홍길동', 90, 80, 70, datetime.datetime(2023, 2, 21, 6, 5, 9))
(2, '이순신', 85, 90, 95, datetime.datetime(2023, 2, 21, 6, 5, 9))
(3, '강감찬', 70, 80, 90, datetime.datetime(2023, 2, 21, 6, 5, 9))
(4, '유관순', 95, 85, 80, datetime.datetime(2023, 2, 21, 6, 5, 9))
(5, '안중근', 80, 70, 75, datetime.datetime(2023, 2, 21, 6, 5, 9))

In [ ]:
# 테이블 작성 후 예시 데이터 넣기 

conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='testdb', charset='utf8')

try:
  with conn.cursor() as cursor:
    sql = '''
  DROP TABLE student;

    '''
    cursor.execute(sql)
    rows = cursor.fetchall()
    print(rows)
    
  conn.commit()
finally:
  conn.close()

()

In [ ]:
# 테이블 작성

conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='testdb', charset='utf8')

try:
  with conn.cursor() as cursor:
    sql = '''
    
    
    CREATE TABLE student (
  id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(50) NOT NULL,
  value VARCHAR(50),
  number INT
);
    '''

    cursor.execute(sql)
    rows = cursor.fetchall()
    print(rows)
    
  conn.commit()
finally:
  conn.close()

()

In [ ]:
# 테이블 작성

conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='testdb', charset='utf8')

try:
  with conn.cursor() as cursor:
    sql = "INSERT INTO student (name, value, number) VALUES (%s, %s, %s)"
    data = [
    ('Alice', '학번', 1),
    ('Bob', '과목', 2),
    ('Charlie', '부서', 3),
    ('David', '학번', 1),
    ('Eve', '과목', 2),
    ('Frank', '부서', 3),
    ('Grace', '학번', 1),
    ('Henry', '과목', 2),
    ('Ivy', '부서', 3),
    ('John', '학번', 1)
    ]
    
    cursor.executemany(sql, data)
    rows = cursor.fetchall()
    print(rows)
    
  conn.commit()
finally:
  conn.close()

()

In [ ]:
# 테이블 작성

conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='testdb', charset='utf8')

try:
  with conn.cursor() as cursor:

    
    sql = "SELECT * FROM student"

    cursor.execute(sql)
    # 결과 가져오기
    result = cursor.fetchall()
    for row in result:
        print(row)
    
  conn.commit()
finally:
  conn.close()

(1, 'Alice', '학번', 1)
(2, 'Bob', '과목', 2)
(3, 'Charlie', '부서', 3)
(4, 'David', '학번', 1)
(5, 'Eve', '과목', 2)
(6, 'Frank', '부서', 3)
(7, 'Grace', '학번', 1)
(8, 'Henry', '과목', 2)
(9, 'Ivy', '부서', 3)
(10, 'John', '학번', 1)

In [131]:

while(True):
    print("***********************")
    print("         관리          ")
    print("***********************")
    print("1. 입력")
    print("2. 출력")
    print("3. 종료")


    n = int(input())
    if(n==1):
        print("이름입력: ")
        name = input()
        print("value 입력")
        value = input()
        print("data 입력")
        data = input()
        conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='testdb', charset='utf8')
        arr = (name,value,data)
        try:
            with conn.cursor() as cursor:
                sql = "INSERT INTO student (name, value, number) VALUES (%s, %s, %s)"
                cursor.execute(sql, arr)
                result = cursor.fetchall()
                for row in result:
                    print(row)
                
            conn.commit()
        finally:
            conn.close()
    
    elif(n==2):
        conn = pymysql.connect(host='127.0.0.1', user='root', password='1234', db='testdb', charset='utf8')
        try:
            with conn.cursor() as cursor:

                
                sql = "SELECT * FROM student"

                cursor.execute(sql)
                # 결과 가져오기
                result = cursor.fetchall()
                for row in result:
                    print(row)
            
            conn.commit()
        finally:
            conn.close()
    elif(n==3):
        break;

***********************
         관리
***********************
1. 입력
2. 출력
3. 종료